ol {
	list-style: none;
}
ul {
	list-style: none;
}
ul li {
	list-style: none;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
form li {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
a {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
abbr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
acronym {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
applet {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
aside {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
audio {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
b {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
big {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
canvas {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
caption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
center {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
cite {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
code {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
del {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
details {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dfn {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
em {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
embed {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figcaption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figure {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
footer {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
header {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
hgroup {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
html {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
i {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
iframe {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ins {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
kbd {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
label {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
legend {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
mark {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
menu {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
nav {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
object {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
output {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
pre {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
q {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ruby {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
s {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
samp {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
section {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
small {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strike {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strong {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sub {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
summary {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sup {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tbody {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tfoot {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
thead {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
time {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
u {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
var {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
video {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; font-family: inherit; font-size: 100%; font-style: inherit; font-variant: inherit; font-weight: inherit; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
button {
	line-height: 1;
}
html {
	line-height: 1;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left; font-weight: 400; vertical-align: middle;
}
td {
	text-align: left; font-weight: 400; vertical-align: middle;
}
th {
	text-align: left; font-weight: 400; vertical-align: middle;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::after {
	content: none;
}
blockquote::before {
	content: none;
}
q::after {
	content: none;
}
q::before {
	content: none;
}
a img {
	border: currentColor; border-image: none;
}
:-ms-input-placeholder {
	color: rgb(159, 170, 177);
}
.root-view {
	height: 100%; position: relative;
}
body {
	height: 100%; position: relative;
}
html {
	height: 100%; position: relative;
}
body {
	line-height: normal;
}
button {
	border: 0px currentColor; border-image: none; cursor: pointer;
}
a {
	color: inherit; text-decoration: none;
}
b {
	font-weight: 700;
}
select {
	text-indent: 0.01px; -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
input[type=number] {
	-moz-appearance: textfield;
}
#error-page {
	text-align: center; font-family: "Open Sans","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif; margin-top: 170px;
}
#error-page h1 {
	color: rgb(51, 162, 220); font-size: 60px; font-weight: 400;
}
#error-page p {
	font-size: 18px; margin-top: 45px;
}
.setup-stripe {
	text-align: center; color: rgb(255, 255, 255); font-family: Helvetica; background-color: rgb(96, 173, 240);
}
body {
	background: 0px 0px; margin: 0px; padding: 0px; color: rgb(55, 55, 55); overflow: hidden; font-family: "Open Sans","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px;
}
html {
	background: 0px 0px; margin: 0px; padding: 0px; color: rgb(55, 55, 55); overflow: hidden; font-family: "Open Sans","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px;
}
button {
	font-size: 12px !important; font-weight: 400;
}
input {
	font-size: 12px !important; font-weight: 400;
}
label {
	font-size: 12px !important; font-weight: 400;
}
select {
	font-size: 12px !important; font-weight: 400;
}
h2.widget-title {
	margin: 0px; padding: 0px; height: 35px; color: rgb(51, 162, 220); overflow: hidden; font-size: 20px; font-weight: 400; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.spinner .placeholder {
	color: rgb(218, 220, 220);
}
[wix-date-picker] .placeholder {
	color: rgb(218, 220, 220);
}
.setup-stripe {
	font-size: 13px;
}
form li.check-in label {
	font-size: 13px;
}
form li.check-out label {
	font-size: 13px;
}
.spinner {
	margin: 0px; height: 32px; position: relative;
}
form li.search button {
	margin: 0px; height: 32px; position: relative;
}
ul {
	margin: 0px; padding: 0px;
}
ul li {
	margin: 0px; padding: 0px;
}
#search-widget {
	background: rgba(255, 255, 255, 0.75); overflow: hidden;
}
.setup-stripe {
	margin: 0px; padding: 6px 8px; left: 0px; top: 0px; width: auto; right: 0px; font-weight: 400; visibility: hidden; position: fixed; z-index: 1000;
}
.setup-stripe.visible {
	visibility: visible;
}
form li {
	margin: 0px; padding: 15px; float: left;
}
form li label {
	padding-bottom: 3px; display: inline-block;
}
form li + li {
	padding-top: 0px;
}
form li {
	width: 100%; text-align: left; box-sizing: border-box;
}
form li button {
	width: 100%; text-align: left; box-sizing: border-box;
}
form li.title {
	padding-bottom: 0px; margin-bottom: 15px; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
form li.search {
	text-align: center;
}
form li.search label {
	display: none;
}
form li.search button {
	padding: 0px; border: 0px transparent; border-image: none; width: auto; text-align: center; overflow: hidden; font-size: 15px; cursor: pointer; min-width: 100%; box-sizing: border-box;
}
.spinner {
	text-align: left; box-sizing: border-box;
}
[wix-date-picker] {
	text-align: left; box-sizing: border-box;
}
form li.search button span {
	padding: 0px 10px; width: 100%; height: 32px; line-height: 32px; overflow: hidden; display: block; white-space: nowrap; -ms-text-overflow: ellipsis; box-sizing: border-box;
}
form li.search button:active span {
	line-height: 34px;
}
.spinner {
	background: rgb(255, 255, 255); padding: 0px 28px 0px 8px; border-radius: 1px; border: 1px solid rgb(218, 220, 220); border-image: none; line-height: 30px; display: block;
}
.spinner a[ng-click] {
	margin: 0px; padding: 0px; width: 19.78px; height: 15px; right: 0px; overflow: hidden; display: block; position: absolute; box-sizing: border-box;
}
.spinner a[ng-click].down::after {
	padding: 0px; width: 0px; height: 0px; display: block; content: "";
}
.spinner a[ng-click].up::after {
	padding: 0px; width: 0px; height: 0px; display: block; content: "";
}
.spinner a[ng-click]::after {
	left: 50%; margin-left: -4.5px; position: absolute;
}
.spinner a[ng-click].up::after {
	border-width: 0px 4.5px 6.4px; border-style: none dashed solid; border-color: currentColor rgba(255, 255, 255, 0) rgb(51, 162, 220); bottom: 3px;
}
.spinner a[ng-click].down::after {
	border-width: 6.4px 4.5px 0px; border-style: solid dashed none; border-color: rgb(51, 162, 220) rgba(255, 255, 255, 0) currentColor; top: 3px;
}
.spinner a[ng-click].up {
	top: 0px;
}
.spinner a[ng-click]:not([disabled]).up:active::after {
	bottom: 2px;
}
.spinner a[ng-click].down {
	top: 50%;
}
.spinner a[ng-click]:not([disabled]).down:active::after {
	top: 4px;
}
.spinner a[ng-click][disabled] {
	background: 0px 0px; cursor: default;
}
.spinner a[ng-click][disabled].down::after {
	opacity: 0.5;
}
.spinner a[ng-click][disabled].up::after {
	opacity: 0.5;
}
[wix-date-picker] {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px 8px; border-radius: 1px; border: 1px solid rgb(218, 220, 220); border-image: none; height: 32px; line-height: 30px; display: block; white-space: nowrap; position: relative; cursor: pointer; stroke: #000;
}
[wix-date-picker] span {
	line-height: 30px; display: inline-block; -ms-text-overflow: ellipsis;
}
[wix-date-picker] .icon {
	top: 50%; width: 16px; height: 15px; right: 7px; margin-top: -11px; display: block; position: absolute;
}
[wix-date-picker]:active .icon {
	margin-top: -10px;
}
@media screen and (max-width:280px)
{
form .elements li {
	float: none;
}
}
@media screen and (min-width:320px)
{
h2 {
	text-align: center;
}
}
.no-adults .adults {
	display: none;
}
.no-children .children {
	display: none;
}
.no-children-adults .adults {
	display: none;
}
.no-children-adults .children {
	display: none;
}
@media screen and (max-width:400px), screen and (min-height:250px)
{
.no-children-adults .check-in {
	float: none;
}
.no-children-adults .check-out {
	float: none;
}
}
@media screen and (max-height:250px), screen and (min-width:400px)
{
.no-children-adults .check-in {
	width: 50%; float: left;
}
.no-children-adults .check-out {
	width: 50%; float: left;
}
}
@media screen and (min-width:550px)
{
.no-children-adults#search-widget {
	padding: 12px 10px;
}
.no-children-adults form {
	padding: 0px; width: 100%;
}
.no-children-adults form .elements li {
	margin: 0px; padding: 0px 5px; float: left; box-sizing: border-box;
}
.no-children-adults form .elements label {
	height: 16px; line-height: 16px;
}
.no-children-adults form .elements .title {
	display: none;
}
.no-children-adults form .elements .check-in {
	width: 35%;
}
.no-children-adults form .elements .check-out {
	width: 35%;
}
.no-children-adults form .elements .adults {
	width: 0px;
}
.no-children-adults form .elements .children {
	width: 0px;
}
.no-children-adults form .elements .adults button {
	width: 100%;
}
.no-children-adults form .elements .children button {
	width: 100%;
}
.no-children-adults form .elements .search {
	width: 30%;
}
.no-children-adults form .elements .search label {
	display: inline-block;
}
.no-children-adults form .elements .search button {
	width: 100%;
}
}
@media screen and (max-width:400px), screen and (min-height:280px)
{
.no-adults .adults {
	float: none;
}
.no-adults .check-in {
	float: none;
}
.no-adults .check-out {
	float: none;
}
.no-adults .children {
	float: none;
}
.no-children .adults {
	float: none;
}
.no-children .check-in {
	float: none;
}
.no-children .check-out {
	float: none;
}
.no-children .children {
	float: none;
}
}
@media screen and (max-width:650px) and (min-width:400px), screen and (max-width:650px) and (max-height:315px)
{
.no-adults .check-in {
	width: 50%; float: left;
}
.no-adults .check-out {
	width: 50%; float: left;
}
.no-children .check-in {
	width: 50%; float: left;
}
.no-children .check-out {
	width: 50%; float: left;
}
}
@media screen and (min-width:650px)
{
.no-adults#search-widget {
	padding: 12px 10px;
}
.no-children#search-widget {
	padding: 12px 10px;
}
.no-adults form {
	padding: 0px; width: 100%;
}
.no-children form {
	padding: 0px; width: 100%;
}
.no-adults form .elements li {
	margin: 0px; padding: 0px 5px; float: left; box-sizing: border-box;
}
.no-children form .elements li {
	margin: 0px; padding: 0px 5px; float: left; box-sizing: border-box;
}
.no-adults form .elements label {
	height: 16px; line-height: 16px;
}
.no-children form .elements label {
	height: 16px; line-height: 16px;
}
.no-adults form .elements .title {
	display: none;
}
.no-children form .elements .title {
	display: none;
}
.no-adults form .elements .check-in {
	width: 35%;
}
.no-adults form .elements .check-out {
	width: 35%;
}
.no-children form .elements .check-in {
	width: 35%;
}
.no-children form .elements .check-out {
	width: 35%;
}
.no-adults form .elements .adults {
	width: 10%;
}
.no-adults form .elements .children {
	width: 10%;
}
.no-children form .elements .adults {
	width: 10%;
}
.no-children form .elements .children {
	width: 10%;
}
.no-adults form .elements .adults button {
	width: 100%;
}
.no-adults form .elements .children button {
	width: 100%;
}
.no-children form .elements .adults button {
	width: 100%;
}
.no-children form .elements .children button {
	width: 100%;
}
.no-adults form .elements .search {
	width: 20%;
}
.no-children form .elements .search {
	width: 20%;
}
.no-adults form .elements .search label {
	display: inline-block;
}
.no-children form .elements .search label {
	display: inline-block;
}
.no-adults form .elements .search button {
	width: 100%;
}
.no-children form .elements .search button {
	width: 100%;
}
}
@media screen and (max-width:400px), screen and (min-height:370px)
{
.show-all .adults {
	float: none;
}
.show-all .check-in {
	float: none;
}
.show-all .check-out {
	float: none;
}
.show-all .children {
	float: none;
}
}
@media screen and (max-height:370px) and (min-height:320px)
{
.show-all .adults {
	width: 50%; float: left;
}
.show-all .children {
	width: 50%; float: left;
}
}
@media screen and (max-width:700px) and (min-width:400px), screen and (max-height:320px)
{
.show-all .adults {
	width: 50%; float: left;
}
.show-all .check-in {
	width: 50%; float: left;
}
.show-all .check-out {
	width: 50%; float: left;
}
.show-all .children {
	width: 50%; float: left;
}
}
@media screen and (min-width:700px)
{
.show-all#search-widget {
	padding: 12px 10px;
}
.show-all form {
	padding: 0px; width: 100%;
}
.show-all form .elements li {
	margin: 0px; padding: 0px 5px; float: left; box-sizing: border-box;
}
.show-all form .elements label {
	height: 16px; line-height: 16px;
}
.show-all form .elements .title {
	display: none;
}
.show-all form .elements .check-in {
	width: 30%;
}
.show-all form .elements .check-out {
	width: 30%;
}
.show-all form .elements .adults {
	width: 10%;
}
.show-all form .elements .children {
	width: 10%;
}
.show-all form .elements .adults button {
	width: 100%;
}
.show-all form .elements .children button {
	width: 100%;
}
.show-all form .elements .search {
	width: 20%;
}
.show-all form .elements .search label {
	display: inline-block;
}
.show-all form .elements .search button {
	width: 100%;
}
}
.strans.selected {
	color: rgb(0, 0, 0) !important; background-color: rgb(255, 235, 63);
}
